.page-container
  =image_tag("loomio-orange.png")
  #new-request
    .row
      %h1.span7.offset2 Thanks for getting in touch!
    .row
      .span6.offset2
        %p &nbsp;
        %p We’ve just sent you an email with a verification link. Make sure to click the link inside the email to finalise your application.
        %p
          Contact us at
          = link_to("contact@loomio.org", "mailto:contact@loomio.org")
          if you don't receive an email within the next few minutes.
      .span2
        =image_tag("mascot-medium-lefthand.gif")
